body
{
	font-family: arial;
}

circle
{
	background-color: white;
}

input
{
	display: block;
}

#dataview
{
	background-color: #f6f6f6;
	display: block;
	width: 600px;
	height: 600px;
}

#timeline
{
	background-color: #eeeeee;
	width: 550px;
	height: 60px;
	padding: 25px;
}

#timeline_timeline
{
	height: 25px;
}

#timeline_timelinecontainer
{
	margin-left:20px;
}

#timeline_slidercontainer
{
        margin-left:20px;
	width: 480px;
}

#timeline_sliderinput
{
	width: 480px;
}

#timedisplay
{
	position: absolute;
	top: 500px;
	left: 20px;
	background-color: #eeeeee;
	font-family: fantasy;
	font-size: 2em;
	width: 60px;
	height: 60px;
	padding: 10px;
	border: solid 1px red;
	
}


#flowtotaldisplay
{
	font-size: 1.1em;
}

#flowdisplay
{
	font-size: 0.9em;
}





