body
{
	font-family: arial;
}

#dataView
{
	background-color: aliceblue;
	display: block;
}

#timeLine
{
	background-color: #eeeeee;
}

circle
{
	background-color: white;
}

input
{
	display: block;
}

#timeDisplay
{
	position: absolute;
	top: 500px;
	left: 20px;
	background-color: red;
	font-family: fantasy;
	font-size: 2em;
	width: 60px;
	height: 60px;
	padding: 10px;
	
}



