body
{
	font-family: arial;
}

#dataView
{
	background-color: aliceblue;
	display: block;
}

#timeView
{
	background-color: #eeeeee;
}

circle
{
	background-color: white;
}

input
{
	display: block;
}


