body
{
	font-family: arial;
}

circle.range
{
	fill: #ffffff;
	fill-opacity: 50%;
	stroke: #eeeeee;
	stroke-width : 1;
}

circle.value
{
	fill-opacity: 3%;
	stroke-width : 0.5;
}


input[type='range'] {
    -webkit-appearance: none !important;
    background: #ccccff;
    border: solid 1px #eeeeee;
    height:7px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #eeeeff;
    height:15px;
    width:15px;
    border: solid 1px #cccccc;
}

#dataview
{
	background-color: #f9f9f9;
	display: block;
	width: 600px;
	height: 600px;
	border: solid 2px #dddddd;
}


#timeline
{
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-radial-gradient(circle, #fafaff, #f0f0ff);
	/* background-color: #eeeeee; */
	width: 550px;
	height: 60px;
	padding: 25px;
	border: solid 2px #dddddd;
}

#timeline_timeline
{
	height: 25px;
}

#timeline_timelinecontainer
{
	margin-left:20px;
}

#timeline_slidercontainer
{
        margin-left:20px;
	width: 480px;
}

#timeline_sliderinput
{
	width: 480px;
}

#timedisplay
{
	position: absolute;
	top: 500px;
	left: 20px;
	background-color: #eeeeee;
	font-family: fantasy;
	font-size: 2em;
	width: 60px;
	height: 60px;
	padding: 10px;
	border: dashed 1px #000000;
	
}


#flowtotaldisplay
{
	font-size: 1.1em;
}

#flowdisplay
{
	font-size: 0.9em;
}





